name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: dependencies
      run:
        sudo apt-get install -y valgrind cppcheck g++-9 cmake
    - name: make
      run: g++ *.cpp -o main -std=c++11 -Wall -Wextra -pedantic -Weffc++ -g
    - name: cppcheck
      run:
        cppcheck --enable=all .
    - name: valgrind
      run:
        valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --error-exitcode=1 ./main